body {
  font-family: sans-serif;
}
#navbar {
  width: 100%;
  height: 50px;
  background-color: gray;
  text-align: center;
  align-content: center;
}
.navbarchapter {
  padding: 10;
  border: none;
  background: white;
}
#chaptercontent h1 {
  text-align: center;
}
